.is-active {
    border-bottom: 1px solid hsl(0, 0%, 4%);
}

#navBar  {
    z-index: 9999 !important;
}

.SentiHeaderLink {
    color: hsl(0, 0%, 21%);
    padding: 10px;
}

.navContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}
